html[data-theme='yspt']:root {
  --bg-img: url('https://bucket-zxq-file-public-prod-1.oss-cn-shenzhen.aliyuncs.com/diancan/upload/image/ysptStatic/login/bg.png');
  --logo-img: url('https://qxt-bucket.eos-guangzhou-1.cmecloud.cn/yingke/h5_logo.png');
  --width: 344px;
  --height: 105px;
  --btn-color: #FF761A;
}